<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="DBConn" connectionString="Data Source=10.0.81.1;Initial Catalog={0};Persist Security Info=True;User ID=sa;Password=sa@sql2016004;MultipleActiveResultSets=True;Asynchronous Processing=true"></add>
    <!--<add name="DBConn" connectionString="Data Source=172.28.70.68;Initial Catalog=DB_DC_LEJU_DATA;Persist Security Info=True;User ID=sa;Password=1qaz!QAZ;MultipleActiveResultSets=True;Asynchronous Processing=true"></add>-->
  </connectionStrings>
</configuration>